main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}

.field-refunds-book_id{
    margin-bottom: 0px;
}

.books-img{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
}
.books-img img{
    width: 200%;
}
td{
    text-align: center;
}
.img-td{
    display: flex;
    justify-content: center;
}


.logo{
    font-weight: 800;
    align-items: center;
    line-height: 10px;
}

.container{
    margin-top: 20px;
}

a{
    text-decoration: none;
}
header .container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    color: black;
}
.logo h1{
    font-weight: 800;
}
.logo span{
    font-weight: 600;
    letter-spacing: 1.8px;
    margin-top: -7px;
}

nav ul{
    width: 900px;
    display: flex;
    justify-content: space-between;
    color: black;
    list-style-type: none;
    margin-top: 15px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: 700;
    transition: all .3s;
}
nav ul li a:hover{
    color: #999;
}